.parent{
    /* background-color: aqua; */
    background-repeat: no-repeat;
    background-size: cover;
    background-image: repeating-linear-gradient(70deg
    ,rgb(255, 147, 147),rgb(136, 133, 133),rgb(245, 245, 148) 20%);
}
*{
font-size: x-large;
}
.headindigTop{
    text-align: center;
    color: brown;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 4px -2px rgb(239, 91, 0);
}

h2,.pre{
    color: red;
    font-family: cursive;

}
pre{
    margin: 20px;
    font-size: 25px;
    color: green;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}
.answer{
    display: flex;
    margin-left: 30px;
}
.output{
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
}
h4{
    font-size: 32px;
    color: red;
}
.Question{
    font-size: 25px;
}
span{
    font-size: 25px;
    color: blue;
   
}
.code{
    font-size: 15px;
    color: green;
   
}
.Explain{
    font-size: 25px;
    color: #4F709C;
   
}
span{
    color: brown;
}